nav {
    background-color: black;
    color: bisque;
    padding-top: 20px;

}
#search{
    color:indigo;
}
li,
ul,
h1 {
    display: inline;
    color:purple;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: purple;
}

UL {
    margin-left: 900px;
    color: burlywood
}

li:hover {
    color:antiquewhite;
}

input {
    text-align-last: right;
    width: 500px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 500px;

}

img {
    width: 400px;
    height: 300px;
    display: inline;

}

.box:hover {
    border-color:purple;
    border-style: groove;
    border-width: 4px;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    color:purple;

}

.box {
    margin: 20px;

}

.box2:hover {
    border-color:purple;
    border-style: groove;
    border-width: 4px;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    color:purple;

}

.box3:hover {
    border-color:purple;
    border-style: groove;
    border-width: 4px;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    color:purple;
}
.h1two{
    border-top: 30px;
  text-align:right;
  padding-left: 500px;
}
#abt{
    color:black;
}
#help{
display: inline;
background-color: black;
}
#HELP2{
   display: inline;
    color:black;
    padding-top: 20px;
    margin: 5%;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: 5%;
   margin-right: 5%;

}
#colorset{
    background-color: black;
   margin: 5%;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: 5%;
   margin-right: 5%;
}

  